



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" 
        content="width=device-width, 
                 initial-scale=1, 
                 shrink-to-fit=no">
  <title>
    load data from json file
    into a bootstrap table
  </title>
  
  <!-- Include Bootstrap for styling -->
  <link rel="stylesheet" 
        href=
"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  
  <!-- Include the Bootstrap Table
  CSS for the table -->
  <link rel="stylesheet"
        href=
"https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="http://127.0.0.1:5000/getAlldrivers">Get all <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000/ginsert">Insert Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000/gdeleteByDriverId">Delete</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000/gUpdateDriverId">Update</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000/sdriver">Get Drivers Of particular race</a>
        </li>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000/">BACK</a>
        </li>
        
      </ul>
   
    </div>
  </nav>



 
  
  <!-- Include jQuery and other required files for Bootstrap -->
  <script src=
"https://code.jquery.com/jquery-3.3.1.min.js">
  </script>
  <script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
  </script>
  <script src=
"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
  </script>
  
  <!-- Include the JavaScript file for Bootstrap table -->
  <script src=
"https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js">
  </script>
  
  <!-- Include the file where the JSON data is stored -->
  <script type="text/javascript" 
          src="test.js">
  </script>

 <div class="row">
	<table class="table caption-top">
  <caption>List of users</caption>

  <thead>

    <tr>
      <th></th>
      <th>Driver Id</th>
      <th>Driver Reference</th>
      <th>Code</th>
      <th >Forename</th>
      <th>Surname</th>
      <th>Date Of Birth</th>
      <th>Nationality</th>
    
    </tr>
  </thead>
 {% for item in l %}
  <tbody>
    <tr>
      <td></td>
      <td>{{item[0]}}</td>
      <td>{{item[1]}}</td>
      <td>{{item[2]}}</td>
      <td>{{item[3]}}</td>
      <td>{{item[4]}}</td>
      <td>{{item[5]}}</td>
      <td>{{item[6]}}</td>
      
    </td>
    </tr>
    
  </tbody>
{% endfor %}
</table>


    

</div>
</body>
</html>

