<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" 
        content="width=device-width, 
                 initial-scale=1, 
                 shrink-to-fit=no">
  <title>
    load data from json file
    into a bootstrap table
  </title>
  
  <!-- Include Bootstrap for styling -->
  <link rel="stylesheet" 
        href=
"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  
  <!-- Include the Bootstrap Table
  CSS for the table -->
  <link rel="stylesheet"
        href=
"https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="http://127.0.0.1:5000/getAlldrivers">Get all <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:5000/ginsert">Insert Data</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:5000/gdeleteByDriverId">Delete</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:5000/gUpdateDriverId">Update</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:5000/sdriver">Get Drivers Of particular race</a>
            </li>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="http://127.0.0.1:5000/">BACK</a>
            </li>
            
          </ul>
       
        </div>
      </nav>
    
<form action="/insert/driver" method="get">
  DriverID: <input type="text" id="driverid" name="driverid" ></input><br>
  Driver Reference: <input type="text" id="driverref" name="driverref"></input><br>
  Code:<input type="text" id="code" name="code" ></input><br>
  Forename:<input type="text" id="forename" name="forename" ></input><br>
  Surname:<input type="text" id="surname" name="surname" ></input><br>
  Date Of Birth:<input type="text" id="dob" name="dob" ></input><br>
  Nationality:<input type="text" id="nationality" name="nationality" ></input><br>
    
    <input type="submit" value="Add">
  </form>
</body>
</html>